%html
  %body

    %h1==Field Catalog Theming Demos

    %h2 1.0 Twitter Bootstrap
    %h3 1.1 Very Default - FIXED LAYOUT
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/dc3/index.html" }1.1.1 DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/mpex/index.html" }1.1.2 MPEX Field Catalog

    %h3 1.2 Lower Navbar - FLUID LAYOUT
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/dc3-low-nav/index.html" }1.2.1 DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/mpex-low-nav/index.html" }1.2.2 MPEX Field Catalog

    %h3 1.3 Navbar-Pills  - FLUID LAYOUT
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/dc3-pills/index.html" }1.3.1 DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/mpex-pills/index.html" }1.3.2 MPEX Field Catalog

    %h2 2.0 Responsive
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-responsive-demo/dc3/index.html" }2.0.1 DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-responsive-demo/mpex/index.html" }2.0.2 MPEX Field Catalog

    %h2 3.0 jQuery UI
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/jquery-ui-demo/dc3/index.html" }3.0.1 DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/jquery-ui-demo/mpex/index.html" }3.0.2 MPEX Field Catalog