%html
  %body

    %h1==Field Catalog Theming Demos

    %h2 Twitter Bootstrap
    %h3 Very Default - FIXED LAYOUT
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/dc3/index.html" }DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/mpex/index.html" }MPEX Field Catalog

    %h3 Lower Navbar:
    %p  (beneath banner / hero-unit) - FLUID LAYOUT
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/dc3-low-nav/index.html" }DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/mpex-low-nav/index.html" }MPEX Field Catalog

    %h3 Navbar-Pills  - FLUID LAYOUT
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/dc3-pills/index.html" }DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-bootstrap-demo/mpex-pills/index.html" }MPEX Field Catalog

    %h2 Responsive
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-responsive-demo/dc3/index.html" }DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/init-responsive-demo/mpex/index.html" }MPEX Field Catalog

    %h2 jQuery UI
    %ul
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/jquery-ui-demo/dc3/index.html" }DC3 Field Catalog
      %li
        %a{ :href => "http://devinbrown.github.com/themework-demos/jquery-ui-demo/mpex/index.html" }MPEX Field Catalog