!!!
%head
  %meta{:charset => "utf-8"}
    %title index.html
    %link{:href => "css/sunny/jquery-ui-1.9.2.custom.css", :rel => "stylesheet"}
    %link{:href => "css/sunny/extracted-css.css", :rel => "stylesheet"}
      %script{:src => "js/jquery-1.8.3.js"}
      %script{:src => "js/jquery-ui-1.9.2.custom.js"}
      %script{:src => "js/extracted-js.js"}

%body

  %h1.theme-container DC3 Field Catalog

  #tabs
    %ul
      %li
        %a{:href => "#tabs-1"} Home
      %li
        %a{:href => "#tabs-2"} Reports
      %li
        %a{:href => "#tabs-3"} Radar
      %li
        %a{:href => "#tabs-3"} Model / Forecast
      %li
        %a{:href => "#tabs-3"} Research
      %li
        %a{:href => "#tabs-3"} Missions
      %li
        %a{:href => "#tabs-3"} Tools & Links
      %li
        %a{:href => "#tabs-3"} Data Access
      %li
        %a{:href => "#tabs-3"} Help

    #tabs-1
      .ui-widget

        %h2 Project Timeline
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

        %h2 Resource
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

        %h2 Latest news
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

    #tabs-2 Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.

    #tabs-3 Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.

  %footer.theme-container © NCAR EOL 1994-2013. All Rights Reserved.