!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/[if gt IE 8]> <html class=no-js>

%head
  %meta{:content => "Mon, 26 Jul 1997 05:00:00 GMT", "http-equiv" => "Expires"}
    %meta{:content => "no-cache", "http-equiv" => "Cache-Control"}
      %meta{:content => "no-cache", "http-equiv" => "Pragma"}/
  %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
  %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet"}
  %link{:href => "css/main.css", :rel => "stylesheet"}

  %script{:src => "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"}

%body

  /<!--[if lt IE 7]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

  / This code is taken from http://twitter.github.com/bootstrap/examples/hero.html
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "#"} MPEX
        .nav-collapse.collapse
          %ul.nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Reports
            %li
              %a{:href => "#"} Radar
            %li
              %a{:href => "#"} Model / Forecast
            %li
              %a{:href => "#"} Research
            %li
              %a{:href => "#"} Missions
            %li
              %a{:href => "#"} Tools & Links
            %li
              %a{:href => "#"} Data Access
            %li
              %a{:href => "#"} Help

  .container

    .hero-unit
      %h1 MPEX Field Catalog

    .row
      .span6
        .content-container.right-spacer
          %h2 Project Reports
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      .span6
        .content-container.left-spacer
          %h2 Latest News
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .row
      .span12
        .content-container
          %h2 History
          %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          %p Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.

    %footer.content-container
      .row
        .span3
          %ul
            %li MPEX Website
            %li Twitter
            %li EOL Website
            %li Contact Us
        .span3
          %ul
            %li Facebook
            %li Page
            %li EOL Link
            %li Something
        .span3
          %ul
            %li SIG
            %li Space
            %li A Link
            %li Help

%script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }

:javascript
  window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')

%script{ :src => "js/vendor/bootstrap.min.js" }
%script{ :src => "js/plugins.js" }
%script{ :src => "js/main.js" }

:javascript
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
